<!doctype html>
<html>
<head>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Meadowlark Travel</title>
	<link rel='shortcut icon' href="/img/favicon.ico" type='image/x-icon'/ >
	<link rel="stylesheet" type="text/css" href="{{static '/build/css/main.css'}}">
	{{{sections.head}}}
</head>
<body>
	<header><img src="{{static '/email/logo.jpg'}}" alt="Meadowlark Travel Logo"></header>
	{{#if flash}}
		<div class="alert alert-dismissible alert-{{flash.type}}">
			<button type="button" class="close"
			data-dismiss="alert" aria-hidden="true">&times;<button>
			<strong>{{flash.intro}}</strong> {{{flash.message}}}
		</div>
	{{/if}}
	{{{body}}}
	<script src="//code.jquery.com/jquery-2.0.2.min.js"></script>
	{{{sections.jquery}}}
</body>
</html>